<tr id="historicEvent_335158" event_attr_ID="656" event_timestamp="2016-09-13 20:35:00">
	<td class="left">Sep 13, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">1.440M</span>
	</td>
	<td class="noWrap">4.000M</td>
	<td class="blackFont noWrap">-12.080M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_335070" event_attr_ID="656" event_timestamp="2016-09-07 20:35:00">
	<td class="left">Sep 07, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-12.080M</span>
	</td>
	<td class="noWrap">0.500M</td>
	<td class="blackFont noWrap">0.942M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_335069" event_attr_ID="656" event_timestamp="2016-08-30 20:35:00">
	<td class="left">Aug 30, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="blackFont" title="">0.942M</span>
	</td>
	<td class="noWrap">&nbsp;</td>
	<td class="blackFont noWrap">4.464M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_334196" event_attr_ID="656" event_timestamp="2016-08-23 20:35:00">
	<td class="left">Aug 23, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">4.464M</span>
	</td>
	<td class="noWrap">0.200M</td>
	<td class="blackFont noWrap">-1.000M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_333818" event_attr_ID="656" event_timestamp="2016-08-16 20:35:00">
	<td class="left">Aug 16, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="blackFont" title="">-1.000M</span>
	</td>
	<td class="noWrap">&nbsp;</td>
	<td class="blackFont noWrap">2.090M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_333424" event_attr_ID="656" event_timestamp="2016-08-09 20:35:00">
	<td class="left">Aug 09, 2016 </td>
	<td class="left">23:35</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">2.090M</span>
	</td>
	<td class="noWrap">-1.000M</td>
	<td class="blackFont noWrap">-1.300M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>