<tr id="historicEvent_331085" event_attr_ID="75" event_timestamp="2016-06-29 14:30:00">
	<td class="left">Jun 29, 2016 </td>
	<td class="left">10:30</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-4.053M</span>
	</td>
	<td class="noWrap">-2.365M</td>
	<td class="blackFont noWrap">-0.917M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330682" event_attr_ID="75" event_timestamp="2016-06-22 14:30:00">
	<td class="left">Jun 22, 2016 </td>
	<td class="left">10:30</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">-0.917M</span>
	</td>
	<td class="noWrap">-1.671M</td>
	<td class="blackFont noWrap">-0.933M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330361" event_attr_ID="75" event_timestamp="2016-06-15 14:30:00">
	<td class="left">Jun 15, 2016 </td>
	<td class="left">10:30</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">-0.933M</span>
	</td>
	<td class="noWrap">-2.260M</td>
	<td class="blackFont noWrap">-3.226M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330012" event_attr_ID="75" event_timestamp="2016-06-08 14:30:00">
	<td class="left">Jun 08, 2016 </td>
	<td class="left">10:30</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-3.226M</span>
	</td>
	<td class="noWrap">-2.740M</td>
	<td class="blackFont noWrap">-1.366M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_329615" event_attr_ID="75" event_timestamp="2016-06-02 15:00:00">
	<td class="left">Jun 02, 2016 </td>
	<td class="left">11:00</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">-1.366M</span>
	</td>
	<td class="noWrap">-2.490M</td>
	<td class="blackFont noWrap">-4.226M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_329268" event_attr_ID="75" event_timestamp="2016-05-25 14:30:00">
	<td class="left">May 25, 2016 </td>
	<td class="left">10:30</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-4.226M</span>
	</td>
	<td class="noWrap">-2.450M</td>
	<td class="blackFont noWrap">1.310M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>