<tr id="historicEvent_331337" event_attr_ID="485" event_timestamp="2016-07-07 15:00:00">
	<td class="left">Jul 07, 2016 </td>
	<td class="left">18:00</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">-0.122M</span>
	</td>
	<td class="noWrap">-0.353M</td>
	<td class="blackFont noWrap">1.367M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_331081" event_attr_ID="485" event_timestamp="2016-06-29 14:30:00">
	<td class="left">Jun 29, 2016 </td>
	<td class="left">17:30</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">1.367M</span>
	</td>
	<td class="noWrap">0.058M</td>
	<td class="blackFont noWrap">0.627M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330678" event_attr_ID="485" event_timestamp="2016-06-22 14:30:00">
	<td class="left">Jun 22, 2016 </td>
	<td class="left">17:30</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">0.627M</span>
	</td>
	<td class="noWrap">-0.326M</td>
	<td class="blackFont noWrap">-2.625M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330357" event_attr_ID="485" event_timestamp="2016-06-15 14:30:00">
	<td class="left">Jun 15, 2016 </td>
	<td class="left">17:30</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-2.625M</span>
	</td>
	<td class="noWrap">-0.243M</td>
	<td class="blackFont noWrap">1.010M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_330008" event_attr_ID="485" event_timestamp="2016-06-08 14:30:00">
	<td class="left">Jun 08, 2016 </td>
	<td class="left">17:30</td>
	<td class="noWrap">
		<span class="redFont" title="Worse Than Expected">1.010M</span>
	</td>
	<td class="noWrap">-0.674M</td>
	<td class="blackFont noWrap">-1.492M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>
<tr id="historicEvent_329610" event_attr_ID="485" event_timestamp="2016-06-02 15:00:00">
	<td class="left">Jun 02, 2016 </td>
	<td class="left">18:00</td>
	<td class="noWrap">
		<span class="greenFont" title="Better Than Expected">-1.492M</span>
	</td>
	<td class="noWrap">-0.157M</td>
	<td class="blackFont noWrap">2.043M</td>
	<td class="icon center" class="diamond">
		<i class="diamondNewEmptyIcon"/>
	</td>
</tr>